<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>2techstore</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ProductCategoryController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.backend.ProductCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductCategoryController</servlet-name>
    <url-pattern>/admin/product-category</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BrandController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.backend.Brand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrandController</servlet-name>
    <url-pattern>/admin/brand</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ColorController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.backend.Color</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ColorController</servlet-name>
    <url-pattern>/admin/color</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ArticleCategoryController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.backend.ArticleCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleCategoryController</servlet-name>
    <url-pattern>/admin/article-category</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.backend.Customer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerController</servlet-name>
    <url-pattern>/admin/customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FeedbackController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.backend.Feedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackController</servlet-name>
    <url-pattern>/admin/feedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ArticleController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.backend.Article</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleController</servlet-name>
    <url-pattern>/admin/article</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ArticleCommentController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.backend.ArticleComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleCommentController</servlet-name>
    <url-pattern>/admin/article-comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductCommentController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.backend.ProductComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductCommentController</servlet-name>
    <url-pattern>/admin/product-comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderFormController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.backend.OrderForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderFormController</servlet-name>
    <url-pattern>/admin/orderform</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.backend.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/admin/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.backend.Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductController</servlet-name>
    <url-pattern>/admin/product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.backend.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.backend.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/admin/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfileController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.backend.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileController</servlet-name>
    <url-pattern>/admin/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.backend.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/admin/index</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Location to store uploaded image</description>
    <param-name>file-upload</param-name>
    <param-value> 
         C:\Users\naq259\workspace\HighTechStore\WebContent\upload\
     </param-value>
  </context-param>
  <error-page>
    <error-code>404</error-code>
    <location>/backend/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/backend/500.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>IndexController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.frontend.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexController</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.frontend.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterSuccessController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.frontend.RegisterSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterSuccessController</servlet-name>
    <url-pattern>/register-success</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContactController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.frontend.Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactController</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsListController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.frontend.NewsList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsListController</servlet-name>
    <url-pattern>/news-list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.frontend.News</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsController</servlet-name>
    <url-pattern>/news</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductListController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.frontend.ProductList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListController</servlet-name>
    <url-pattern>/product-list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductDetailController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.frontend.ProductDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailController</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.frontend.Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartController</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderSuccessController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.frontend.OrderSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderSuccessController</servlet-name>
    <url-pattern>/order-success</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.frontend.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <listener> 
    <listener-class> 
      mta.cnpm12.store.controller.frontend.SessionCounter
    </listener-class> 
  </listener>
  <servlet>
    <servlet-name>ProfileCustomerController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.frontend.ProfileCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileCustomerController</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurchasingHistoryController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.frontend.PurchasingHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchasingHistoryController</servlet-name>
    <url-pattern>/history</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurchasingHistoryDetailController</servlet-name>
    <servlet-class>mta.cnpm12.store.controller.frontend.PurchasingHistoryDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchasingHistoryDetailController</servlet-name>
    <url-pattern>/history-detail</url-pattern>
  </servlet-mapping>
</web-app>